<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Quicksand:300,400&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
  </head>

  <body class="body1">
   

    <div class="container1">
      <section>
        <div  class="letras" >
          <h2 class="segundo_subtitulo1"> Existen más de 80.740 ofertas esperando por ti</h2>
          <h1 class="primer_titulo"><%= title %></h1>
          
            <h2 class="segundo_subtitulo"><%= subtitle %></h2>
           
          <button class="ui primary button" id="ENTRAR">ENTRAR</button>
        </section>
     
      
</div>
  </div>





    



    <!-- CDN axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <!-- my script -->
    <script src="/actions/index.js"></script>
    
  </body>
</html>
